/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.button{
	-fx-padding: 10px;
}
#hboxBottom{
	-fx-background-color: #e53935;
}
#hboxCenter{
	-fx-background-color: #e53935;
}
#hboxTop{
	-fx-background-color: #e53935;
}